*/bin
*/obj


*.js
*.js.map
*.log


*.dat
*.map
*.suo

.DS_Store
*/node_modules
*/platforms/ios
*/platforms/android


!bootstrap.js
!everlive.js
!gruntfile.js

**/lib
/.metadata/
/.tscache
/node_modules
/platforms


**/hooks
