/* Page */
Page {
    background-color: white;
}

SegmentedBar {
    background-color: transparent;
    color: #fac950;
    margin: 12 12;
}

/* Slide-out */
.slide-out-img {
    margin: 20 0 30 12;
}

.slide-out-btn-about {
    color: #576a72;
    background-color: #053140;
    font-size: 12;
    text-align: left;
    margin: 12;
    font-weight: bold;
    height: 44;
}

.slide-out-btn {
    color: #e4ba4e;
    background-color: #053140;
    font-size: 19;
    height: 44;
    text-align: left;
    horizontal-align: stretch;
    margin: 0 12;
}

.slide-out-btn-selected {
    color: white;
    background-color: #053140;
    font-size: 19;
    height: 44;
    text-align: left;
    horizontal-align: stretch;
    margin: 0 12;
}

.action-bar {
    height: 44;
}

.action-bar-title {
    horizontal-align: center;
    vertical-align: center;
    font-size: 20;
    color: white;
}

.darker {
    background-color: #55000000;
}

.page-header {
    background-image: url('res://background');
    background-size: cover;
}

.page-title {
    font-size: 14;
    color: #fac950;
}

.session-page-title {
    font-size: 17;
    color: #fac950;
    background-color:"ff0000";
}

.info-page-header {
    font-size: 17;
}

.session-page-subtitle {
    font-size: 12;
    color: #f7db94;
    font-weight: bold;
}

.icon-image {
    vertical-align: center;
    horizontal-align: left;
}

.action-wrap {
    padding-left: 12;
    padding-right: 12;
}

.favourite-wrap {
    horizontal-align: left;
    vertical-align: top;
    padding: 12;
    margin-right: 16;
}

.back-text {
    color: white;
    font-size: 17;
    margin-left: 2;
}

.search {
    font-size: 14;
    background-color: #fac950;
    color: #fac950;
}

.info {
    font-size: 14;
    color: #555555;
}

.info-bigger {
    color: #555555;
    font-size: 17;
    margin: 0;
}

.info-orange {
    font-size: 12;
    color: #A17201;
    margin: 0;
}

.description {
    font-size: 15;
    color: #555555;
}

.more-button {
    margin: 6 0;
    font-size: 14;
    color: #05303F;
    horizontal-align: left;
    background-color: white;
}

.section-header {
    margin-top: 6;
    color: #A17201;
}

.horizontal-line {
    height: 1;
    background-color: #FAC950;
    vertical-align:center;
    margin: 12 0 8 0;
}

/* List rows */
.break-row {
    padding: 12;
    background-color: #FFFBF0;
}

.list-view-row {
    padding: 12 12 12 0;
}

.speakers-row {
    padding-top: 12;
}

.speaker-image {
    horizontal-align: left;
    vertical-align: top;
    margin-right: 12;
}

.content {
    margin: 12;
}

.content-offset {
    padding: 12;
    background-color: #ffffff;
}

.bold {
    font-weight: bold;
}